body{
    box-sizing: border-box;
}
.container{
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    
}
.nav-title{
    font-size: 80px;
    margin: 3% 0;
}
.nav-title-span{
    color:deepskyblue;
}
.nav-menu{
    background: #35444F;
    width:100%;
    height: 60px;
}
.nav-menu-ul{
    display: flex;
    justify-content: center;
    
}
.nav-menu-item{
    padding: 16px 32px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.nav-menu-item>a{
    color: white;
    font-size: 24px;
    line-height: 28px;
}
.nav-menu-item:hover{
    background: #222F3A;
    transition: 0.3s;
}
main{
    display: flex;
    column-gap: 52px;
    margin-top: 48px;
}
.left-menu{
    width: 30%;
}
.right-content{
    width: 100%;
}
.left-menu-ul{ 
    height: auto;
}
.item{
    padding: 25px 30px;
    font-size: 27px;
    line-height: 27px;
}
.item>a{
    color: #485863;
}
.item:hover{
    background: #DBDBDB;
    
    padding-left: 55px;
    transition: 0.3s;
}
.border-around{
    border: 1px solid black;
}
.img-wrap{
    text-align: center;
    padding: 75px;
}
.text>p{
    margin: 35px 0;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer-nav{
    display: flex;
    background:  rgba(99, 105, 110, 0.48);
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.footer-nav-ul{
    display: flex;
    column-gap: 20px;
    padding: 20px 0;
}
.footer-nav-item>a{
    color: #0C1927;
}
.footer-nav-item>a:hover{
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
    transition: 0.3s;
}

