@font-face{
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: montserrat;
}
main{
    margin-top: 8px;
}
.nav-container{
    position: relative;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 1012px;
    background: url(../img/section-1.jpg);
}

.nav-menu{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.menu-container{
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 20px;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    opacity: 0.6;
}
.nav-item:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.header-description{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
    position: relative;               
    top: 50%;
    transform: translate(0, -50%);
}
.header-description p{
    margin-top: 22px;
}
.buttons-conteiner{
    display: flex;
    justify-content: center;
    column-gap: 26px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 65px;
    border-radius: 5px;
    background: #18cfab;
    border-top: 4px solid white;
    margin-top: 130px;
}
.cards-container{
    position: relative;
    width: 100%;
    max-height: 380px;
    display: flex;
}
.card{
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 85px;
}
.card p{
    margin-top: 45px;
}

.our-services{
    max-width: 1160px;
    margin: 85px auto;
    
}
.services-h{
    position: relative;
    margin: 0 auto;
    margin-bottom: 85px;
    text-align: center;
    width: 60%;
}
.services-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.services-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px; 
}
.service-button{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.service-button:hover{
    border: 1px solid #18CFAB;
}

.active{
    background: #18cfab;
    color: #ffffff;
}
.active::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
    background: #18cfab;
    top: 62px;
    transform: rotate(45deg);
}

.services-card{
    margin-top: 25px; 
}

.service-description{
    display: none;
}

.visible{
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
}

.evrything-is-ready{
    position: relative;
    width: 100%;
    height: 476px;
    background:  linear-gradient( rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78) ), url('../img/section-2.jpg');
    background-attachment: fixed;
}

.everything-container{
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.everything-container p{
    text-align: center;
    line-height: 40px;
}
.our-work{
    width:100%;
    background: #E9EDEF;
}
.work-container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 85px 0; 
}

.work-h{
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.filter-images{
    height: 58px;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center 
}
.work-button{
    padding: 15px;
    border: 1px solid #DADADA;
    color: #717171;

}
.all{
    border: 2px solid #18CFAB; 
    color: #18CFAB;
}
.images{
    display: flex;
    flex-flow: wrap;
}
.work-card img{
    width: calc(1160px / 4);
    height: 100%;
}
.work-card-revers{
    width: calc(1160px / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    border-top: 2px solid #18CFAB; 
}
.work-card-revers img{
    width: 88px;
    height: auto;
}
.load-button{
    margin: 0 auto;
    margin-top: 70px;
    width: 170px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #18CFAB;
    border-radius: 5px;
}
.breaking-news{
    width: 100%;
}
.news-container{
    max-width: 1160px;
    margin: 90px auto;
}
.news-h{
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.news-cards{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.news-card{
    position: relative;
    margin-top: 50px;
}
.date{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.post-info{
    display: flex;
    justify-content: space-around;
}
.vertical::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #777777;
    left: calc(250px/2);
}
.news-card>p{
    line-height: 40px;
    margin-left: 29px;
    color: #717171;
}
.what-people-say{
    width: 100%;
    height: 100%;
    background: url(../img/section-3.jpg);
    background-attachment: fixed;
}
.say-container{
    max-width: 1160px;
    padding: 100px 0;
    margin: 0 auto;
}
.say-h{
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.say-info{
    height: 617px;
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.icon-big{
    width: 166px;
    height: 166px;
    text-align: center;
    border-radius: 100%;
    background: rgba(31,218,181, 0.2);
}
.icon-big img{
    position: relative;
    width: 142px;
    height: 142px;
    margin: 12px;
}
.icon-small{
    text-align: center;
    border-radius: 100%;
    background: rgba(31,218,181, 0.2);
    width: 70px;
    height: 70px;
}
.icon-small img{
    margin: 5px;
    width: 60px;
    height: 60px;
}
.photo-line{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.people-say{
    line-height: 30px;
}
.who{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.left-arrow, .right-arrow{
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid #BBBBBB;
}
.left-arrow::before, .right-arrow::after, .left-arrow::after, .right-arrow::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background: white;
}
.left-arrow::before{
    left: 15px;
    top: 8px;
    transform: rotate(45deg);
}
.left-arrow::after{
    left: 15px;
    top: 14px;
    transform: rotate(135deg);
}
.right-arrow::before{
    left: 15px;
    top: 14px;
    transform: rotate(45deg);
}
.right-arrow::after{
    left: 15px;
    top: 8px;
    transform: rotate(135deg);
}
.left-arrow:hover, .right-arrow:hover{
    background: #18CFAB;
    border-color: #18CFAB;
    color: white;
}

.enabled{
    margin-top: -20px;
}
.disabled{
    display: none;
}

.footer-container{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: #22353F;
}
.footer-text{
    color: #aeaeae;
}
.footer-text>span{
    color: #18CFAB;
}


.lines::before, .lines::after{
    content: '';
    width: 80px;
    height: 2px;
    background: #18cfab;
    position: absolute;
    top: 60px;
}
.lines::before{
    left: calc(100% / 2.2);
}
.lines::after{
    top: 64px;
    left: calc(100% / 2.1);
}

.blue{
    background: #00CBF6;
}
.cayan{
    background: #18cfab;
}
.dark-blue{
    background: #1c2a33;
}

.color-blue{
    color: #1c2a33;
}
.color-cayan{
    color: #18cfab;
}
.color-white{
    color: #ffffff;
}
.color-lightgrey{
    color: #d4d4d4;
}
.color-grey{
    color: #4e4e4e;
}
.color-darkgrey{
    color: #717171;
}
.color-darkergrey{
    color: #777777;
}
.color-greylighter{
    color: #8A8A8A;
}
.color-gr{
    color: #bbbbbb;
}

.line-heigth-24{
    line-height: 24px;
}
.text-size-12{
    font-size: 12px;
}
.text-size-14{
    font-size: 14px;
}
.text-size-16{
    font-size: 16px;
}
.text-size-18{
    font-size: 18px;
}
.text-size-20{
    font-size: 20px;
}
.text-size-36{
    font-size: 36px;
}
.text-size-40{
    font-size: 40px;
}
.text-size-78{
    font-size: 78px;
}

.bold{
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}