body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-menu-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-menu{
    width: 1366px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-group{
    display: flex;
    align-items: center;
}
.buttons::after{
    content: " ";
    background: rgba(255, 255, 255, 0.3);;
    width: 1px;
    height: 20px;
    float: right;
    margin-right: 10px;
    
}
.buttons>a{
    display: inline-block;
    margin: 0 13px;
}
.calendar{
    width: 23px;
    height: 23px;
    background-image: url(../img/calendar.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.convert{
    width: 23px;
    height: 23px;
    background-image: url(../img/convert.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.compass{
    width: 23px;
    height: 23px;
    background-image: url(../img/compass.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.logIn:hover{
    color: #3CB878;
    transition: 0.3s;
}
.signUp:hover{
    color: #3CB878;
    transition: 0.3s;
}
.title:hover{
    color: #3CB878;
    transition: 0.3s;
}
.calendar:hover{
    background-image: url(../img/calendar-regular.svg);
    transition: 0.3s;
}
.convert:hover{
    background-image: url(../img/convert-regular.svg);
    transition: 0.3s;
}
.compass:hover{
    background-image: url(../img/compass-regular.svg);
    transition: 0.3s;
}

.form-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 445px;
    background: #ffffff;
}
.form-signUp-services{
    margin: 35px 60px;
}
.form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-container::before{
    content: '';
    position: absolute;
    top: 36px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.form-buttons-services{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.facebook-button{
    background-color: #305DB8;
    width: 100%;
    margin-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 12px;
}
.google-button{
    background-color: #DF4A32;
    width: 100%;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 12px;
}
.google-button>.icon{
    display: flex;
    align-items: center;
}
.facebook-button>.icon{
    display: flex;
    align-items: center;
}
.icon::before{
    content: "";
    background: #2B0D09;
    position: relative;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    float: right;
    left: 38px;
}
.login:hover{
    text-decoration: underline;
}
.form-fields{
    width: 70%;
    margin: 35px 60px;
}
.or{
    text-align: center;          
    margin: 0 auto;      
    overflow: hidden; 
}
.or>span{
    position: relative;
    color: #848484;
}
.or>span:before {
    display: block;                 
    width:1000px;                    
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid #F2F2F2;   
    top:50%;                       
    right: 20px;                   
}
.or>span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top:50%;
    left: 20px; 
}
.field{
    width: 98%;
    height: 45px;
    margin-top: 15px;
    padding-left: 20px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.field:focus{
    color: #434343;
    outline: none;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.field::placeholder{
    padding: 15px 0;
}
.create-button{
    background: #3CB878CC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 16px;
    margin-top: 20px;
    width: 95%;
}
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}  
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 12px;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-checkbox:checked+label::before {
    background-image: url(../img/gal.svg);
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked)+label::before {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
.terms{
    margin-left: 4px;
    
}
.terms:hover{
    text-decoration: underline;  
}

.facebook-button:hover{
    background-color: #022263;
    transition: 0.3s;
}
.google-button:hover{
    background-color: #AB1F09;
    transition: 0.3s;
}
.create-button:hover{
    background-color: #01813F;
    transition: 0.3s;

}

.font-22{
    font-size: 22px;
}
.font-20{
    font-size: 20px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.bold{
    font-weight: bold;
}
.wh-text{
    color: #ffffff;
}
.grn-text{
    color: #3CB878;

}