.label{
    text-align : center;
    padding : 0px 5px;
    border : 1px solid #000;
    border-radius : 50px;
    color : #00C322;
}
.container{
    display: inline-block;
    width:18px;
    height:18px;
    position:relative;
}

.container:before,.container:after{
    content:'';
    position:absolute;
    width:9px;
    height:1px;
    background-color:black;
    top: 12px;
}

.container:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.container:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}