@font-face {
font-family: "Montserrat"; 
src: url("fonts/Montserrat-Medium.ttf") format("truetype");  
font-style: normal; 
font-weight: normal; 
} 

head, body, footer{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

.navbar{
    
}

.navbar-menu{
    width: 45%;
    margin: 0 auto;
}

ul{
    display:flex;
}

li{
    margin-left: 72px;
    list-style: none;
}

a{
    text-decoration: none;
    color: red;
    letter-spacing: 2.7px;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.image-layout>img{
    width: 100%;
}

h2{
    width: 50%;
    margin: 2% auto;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}
.text{
    margin: 2% 4%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.button-red{
    margin: 3% auto;
    text-align: center;
    color: white;
    background: red;
    letter-spacing: 1.8px;
    font-size: 12px;
    width: 10%;
    padding: 18px 42px;
    border-radius: 4px;
}

.footer-text{
    width: 90%;
    text-align: end; 
    margin-bottom: 2%;
    padding-right: 2%;
    letter-spacing: 2.4px;
}