body{
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 768px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.milan{
    height:640px;
    width: 1020px;
    margin: 50px auto;
    
}
.container{
    
}
.menu{
    display: flex;
    justify-content: space-between;
}
.icon-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.milan-icon{
    color: white;
    padding-left: 58px; 
    background: url(../img/logo%203.png);
    background-repeat: no-repeat;
}
.milan-icon:hover{
    color: #F26522;
    background-image: url(../img/logo%202.png);
    background-repeat: no-repeat;
    transition: 0.3s;
}
.milan-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mail:hover{
    color: #F26522;
    transition: 0.3s;
}
.phone:hover{
    color: #F26522;
    transition: 0.3s;
}
.cards-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
}
.card{
    width: 300px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card>p{
    text-align: center;
    padding-bottom: 30px;
}
.card:hover>.orange-bar{
    height: 55px;
    margin-bottom: 30px;
    background: #F26522;
    transition: 0.3s;
    visibility: visible;
}
.orange-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
}
.price{
    display: flex;
    padding: 10px 20px 10px 10px; 
    align-items: center;
    justify-content: space-between;
}
.price-numbers{
    font-size: 20px;
}
.from{
    font-size: 10px;
    padding: 7px 0px 0px 12px;
}
.sparrow::after, .sparrow::before{
    border-right: 2px solid;
    content: '';
    display: block;
    height: 7px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
}
.sparrow:after {
    margin-top: -1px;
    height: 8px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sparrow:hover, .sparrow:focus,
.sparrow:hover:before, .sparrow:hover:after,
.sparrow:focus:before, .sparrow:focus:after {}

.sparrow{
    display: inline-block;
    padding: 0 30px 0 0; 
    font-size: 14px;
    position: relative;
    text-decoration: none;
}
.card:hover>p{
    color: #F26522;
    transition: 0.3s;
}

.copyright{
    width: 1020px;
    margin: 0 auto; 
    text-align: center;
    font-size: 12px;
}


.c1{
    background: url(../img/image-6.png);
    background-repeat: no-repeat;
}
.c2{
    background: url(../img/image-1.png);
    background-repeat: no-repeat;
}
.c3{
    background: url(../img/image-5.png);
    background-repeat: no-repeat;
}
.c4{
    background: url(../img/image-2.png);
    background-repeat: no-repeat;
}
.c5{
    background: url(../img/image-3.png);
    background-repeat: no-repeat;
}
.c6{
    background: url(../img/image-4.png);
    background-repeat: no-repeat;
}
.wh-text{
    color: white;
}

.bold{
    font-weight: bold;
}
.text-big{
    font-size: 27px;
}
.text-normal{
    font-size: 18px;
}
.text-small{
    font-size: 12px;
}