*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/**-----------------------Header---------------------**/

.header-menu{
    background: #313131;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.header-menu-ul{
    display: flex;
    height: 70px;
    column-gap: 35px;
    align-items: center;
}
.menu-item>a{
    color: white;
    font-size: 15px;
}
.menu-item>a:hover{
    color: #14B9D5;
    transition: 0.3s;
}
.header-menu-logo{
    display: flex;
    align-items:center;
}
.header-menu-logo>img{
    margin: 21px 27px;
}
.header-menu-logo>a{
    color: white;
    font-size: 22px;
}
.header-menu-search{
    width: 70px;
    background: black;
    display: flex;
    justify-content: center;
}
.header-menu-search>a{
    align-self: center;
}
.header-title{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/header-bg.jpeg);
    height: 370px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-block{
    
}
.title-block-buttons{
    display:flex;
    justify-content: center;
    margin-top: 45px;
}
.button{
    margin: 0 20px;
    padding: 15px 20px;
    border-radius: 5px;
}
.button>a{
   
}

/**------------------------Main----------------------**/
.section-1{
   background: #F2F2F2; 
}

.section-1-container{
    display: block;
    margin: 0 auto;
    max-width: 1280px;
}
.section-1-container>p{
    text-align: center;
    padding: 50px 0;
}
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1030px;
}
.card{
    margin-bottom: 32px;
    width:370px;
}
.card>p{
    text-align: center;
    padding: 20px;
    background: white;
}

.section-2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/parallax-bg.jpeg);
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}
.section-2-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}
.clients-title{
    
}
.small-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
}
.clients-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
    align-items: center;
}

.section-3{
    
}

.section-3-container{
    display: block;
}
.section-3-container>p{
    text-align: center;
    padding: 50px 0;
}
.top-rated-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top-rated-grid>img{
    width: 100%;
}

.section-5-container{
    display: block;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.section-5-container>p{
    text-align: center;
    padding: 50px 0;
}
.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-gap: 45px 60px;
    grid-template-areas: 
        "i1 i1 i1 i2"
        "i3 i3 i4 i4"
        "i5 i5 i6 i6"
        "i7 i8 i8 i8";
    justify-content: space-between;
    text-align: end;
}

.news-card{
    display: flex; 
    flex-direction: column;
    background: #F2F2F2;
}

.text-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name{
    padding: 14px;
}
.card-text-small{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 14px;
    color: #5B6469;
}

.i1{grid-area: i1;}
.i2{grid-area: i2; text-align: center;}
.i3{grid-area: i3;}
.i4{grid-area: i4;}
.i5{grid-area: i5;}
.i6{grid-area: i6;}
.i7{grid-area: i7; text-align: center;}
.i8{grid-area: i8;}

/**----------------------Footer-----------------------**/

.footer-container{
    background: black;
}
.flex-elements{
    display: flex;
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.rights{
    font-size: 13px;
    line-height: 13px;
}


/**----------------------Common-----------------------**/
.green{
    background: #89CA62;
}
.blue{
    background: #14B9D5;
}

.medium-text{
    font-size: 32px;
}
.small-text{
    font-size: 27px;
}
.smaler-text{
    font-size: 18px;
}
.wh-text{
    color:white;
}
.cyan-text{
    color:#14B9D5;
}
.grey-text{
    color:#353A3D;
}

.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}